@model WebAppGroup1.Models.ViewModels.TrackerEditVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tracker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @*<div class="form-group">
            <label asp-for="Week" class="control-label"></label>
            <input asp-for="Week" class="form-control" />
            <span asp-validation-for="Week" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Week" class="control-label"></label>
                <select asp-for="Week" name="Week" class="form-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                <span asp-validation-for="Week" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stop" class="control-label"></label>
                <textarea asp-for="Stop" class="form-control" rounded-0" rows="10"></textarea>
                <span asp-validation-for="Stop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <textarea asp-for="Start" class="form-control" rounded-0" rows="10"></textarea>
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Continue" class="control-label"></label>
                <textarea asp-for="Continue" class="form-control" rounded-0" rows="10"></textarea>
                <span asp-validation-for="Continue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <textarea asp-for="Comments" class="form-control" rounded-0" rows="10"></textarea>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechnicalSkill" class="control-label"></label>
                <select asp-for="TechnicalSkill" name="TechnicalSkill" class="form-select">
                    <option value="Skilled">Skilled</option>
                    <option value="Partially Skilled">Partially Skilled</option>
                    <option value="Low Skilled">Low Skilled</option>
                    <option value="Unskilled">Unskilled</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SoftSkill" class="control-label"></label>
                <select asp-for="SoftSkill" name="SoftSkill" class="form-select">
                    <option value="Skilled">Skilled</option>
                    <option value="Partially Skilled">Partially Skilled</option>
                    <option value="Low Skilled">Low Skilled</option>
                    <option value="Unskilled">Unskilled</option>
                </select>
            </div>
            <div class="form-group" id="editsavebtn">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
